ion-toolbar {
  --background: #242424;
  --color: #f6a821;
}

ion-content {
  --background: #464646;
}

ion-card-title {
  --color: #f6a821;
}

ion-button {
  --background: #f6a821;
  --color: #242424;
}

ion-card {
  --background: #242424;
  --color: white;
}

ion-button {
  --padding-end: 10px;
  --padding-start: 10px;
}
